name: CI

on:
  push:
    branches: [ "*" ]
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*
  pull_request:
    branches: [ "*" ]

permissions:
  contents: read

jobs:
  test:
    name: Test with Pytest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.12.12"
          - "3.13"

    steps:
      - uses: actions/checkout@v6

      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          activate-environment: "true"

      - name: Install dependencies
        run: |
          uv pip install ruff pytest pytest-cov
          uv pip install -e .

      - name: Lint with ruff
        run: ruff check --ignore=PTH,C901,PLR0911,PLR0912,PLR0913,PLR0915,PLW0603,BLE001,TRY400,PERF203,FIX002,FBT001,FBT002

      - name: Run tests with pytest
        run: pytest --cov=aurora_cycler_manager --cov-report=term

  # Publish to PyPI if tagged and tests pass
  publish:
    name: Publish to PyPI
    needs: test
    if: startsWith(github.ref, 'refs/tags/v') && github.repository == 'EmpaEconversion/aurora-cycler-manager'
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install flit
        run: pip install flit~=3.12

      - name: Publish to PyPI
        run: flit publish
        env:
          FLIT_USERNAME: __token__
          FLIT_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}

      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
